Repository Avaiga/taipy-doc, pull requests merged in 2023-02, with the labels that each got.

#364 Documentation for Taipy Studio Configuration Builder (#319)
  docs/manuals/core/concepts/data-node.md
  docs/manuals/core/concepts/task.md
  docs/manuals/core/config/advanced-config.md
  docs/manuals/core/config/data-node-config.md
  docs/manuals/core/config/pipeline-config.md
  docs/manuals/core/config/scenario-config.md
  docs/manuals/core/config/task-config.md
  docs/manuals/core/index.md
  docs/manuals/studio/config.md
  docs/manuals/studio/images/config_autocomplete.gif
  docs/manuals/studio/images/config_diagnostics.png
  docs/manuals/studio/images/config_init.gif
  docs/manuals/studio/images/config_overview.png
  docs/manuals/studio/images/config_panel.png
  docs/manuals/studio/index.md
  mkdocs.yml_template
  tools/_setup_generation/step_refman.py
Labels: Core, 👩‍💻Studio

#370 Fix/ Config conflict typo
  docs/manuals/core/versioning/experiment_mode.md
Labels: Core, 💥Malfunction

#373 Feature/getting started
  .gitignore
  docs/getting_started/getting-started-core/.gitkeep
  docs/getting_started/getting-started-gui/.gitkeep
  docs/getting_started/getting-started/.gitkeep
  docs/getting_started/index.md
  mkdocs.yml_template
  tools/_fetch_source_file/__init__.py
  tools/_fetch_source_file/cli.py
  tools/_fetch_source_file/git_context.py
  tools/_fetch_source_file/utils.py
  tools/_setup_generation/step_getting_started.py
  tools/fetch_source_files.py
Labels: 📄 Documentation

#369 Feature/overload methods
  docs/relnotes.md
Labels: Core

#371 [hotfix 2.1] Fix/ Config conflict typo
  docs/manuals/core/versioning/experiment_mode.md
Labels: Core, 💥Malfunction

#375 [Hotfix2.1] add refman package documentation page for packages with doc but no entries + add documentation for taipy.run + minor refactoring
  docs/manuals/core/entities/data-node-mgt.md
  docs/manuals/core/entities/scenario-creation.md
  tools/_setup_generation/step_refman.py
  tools/fetch_source_files.py
Labels: Core, 📈 Improvement, 🖰 GUI, 📄 Documentation, 💥Malfunction

#378 Taipy Core type aliases (#376)
  docs/manuals/gui/viselements/charts/advanced.md
  tools/_setup_generation/step_refman.py
Labels: 🟥 Priority: Critical, 📄 Documentation, 💥Malfunction

#377 Complement Taipy Studio's documentation with the Graph View (#366)
  docs/manuals/studio/config.md
  docs/manuals/studio/config/elements.md
  docs/manuals/studio/config/files.md
  docs/manuals/studio/config/graphview.md
  docs/manuals/studio/config/index.md
  docs/manuals/studio/config/textedition.md
  docs/manuals/studio/images/config-icon-add-datanode.png
  docs/manuals/studio/images/config-icon-add-pipeline.png
  docs/manuals/studio/images/config-icon-add-scenario.png
  docs/manuals/studio/images/config-icon-add-task.png
  docs/manuals/studio/images/config-icon-modified.png
  docs/manuals/studio/images/config-icon-refresh.png
  docs/manuals/studio/images/config-icon-relayout.png
  docs/manuals/studio/images/config-icon-saveimage.png
  docs/manuals/studio/images/config-icon-zoomfit.png
  docs/manuals/studio/images/config_graphview_1.gif
  docs/manuals/studio/images/config_graphview_2.gif
  docs/manuals/studio/images/config_graphview_3.gif
  docs/manuals/studio/images/config_graphview_4.gif
  docs/manuals/studio/index.md
  mkdocs.yml_template
Labels: 📄 Documentation, 👩‍💻Studio

#374 [hotfix 2.1] overload methods
  docs/relnotes.md
  tools/_setup_generation/step_refman.py
Labels: Core, 📈 Improvement

#383 Direct links to chart code examples in taipy-gui (#379)
  .gitignore
  README.md
  docs/manuals/deployment/docker/nginx.conf
  docs/manuals/deployment/linux/nginx.conf
  docs/manuals/gui/viselements/charts/advanced.md
  docs/manuals/gui/viselements/charts/bar.md
  docs/manuals/gui/viselements/charts/basics.md
  docs/manuals/gui/viselements/charts/bubble.md
  docs/manuals/gui/viselements/charts/candlestick.md
  docs/manuals/gui/viselements/charts/continuous-error.md
  docs/manuals/gui/viselements/charts/error-bars.md
  docs/manuals/gui/viselements/charts/filled-area.md
  docs/manuals/gui/viselements/charts/funnel.md
  docs/manuals/gui/viselements/charts/gantt.md
  docs/manuals/gui/viselements/charts/heatmap.md
  docs/manuals/gui/viselements/charts/histogram.md
  docs/manuals/gui/viselements/charts/line.md
  docs/manuals/gui/viselements/charts/map.md
  docs/manuals/gui/viselements/charts/pie.md
  docs/manuals/gui/viselements/charts/polar.md
  docs/manuals/gui/viselements/charts/radar.md
  docs/manuals/gui/viselements/charts/scatter.md
  tools/_fetch_source_file/utils.py
  tools/postprocess.py
Labels: 🖰 GUI, 📄 Documentation

#384 Add links to taipy-gui's chart example source files
  .gitignore
  README.md
  docs/manuals/deployment/docker/nginx.conf
  docs/manuals/deployment/linux/nginx.conf
  docs/manuals/gui/viselements/charts/advanced.md
  docs/manuals/gui/viselements/charts/bar.md
  docs/manuals/gui/viselements/charts/basics.md
  docs/manuals/gui/viselements/charts/bubble.md
  docs/manuals/gui/viselements/charts/candlestick.md
  docs/manuals/gui/viselements/charts/continuous-error.md
  docs/manuals/gui/viselements/charts/error-bars.md
  docs/manuals/gui/viselements/charts/filled-area.md
  docs/manuals/gui/viselements/charts/funnel.md
  docs/manuals/gui/viselements/charts/gantt.md
  docs/manuals/gui/viselements/charts/heatmap.md
  docs/manuals/gui/viselements/charts/histogram.md
  docs/manuals/gui/viselements/charts/line.md
  docs/manuals/gui/viselements/charts/map.md
  docs/manuals/gui/viselements/charts/pie.md
  docs/manuals/gui/viselements/charts/polar.md
  docs/manuals/gui/viselements/charts/radar.md
  docs/manuals/gui/viselements/charts/scatter.md
  tools/_fetch_source_file/utils.py
  tools/postprocess.py
Labels: 🖰 GUI, 📄 Documentation

#385 Fix/aliases
  docs/manuals/gui/viselements/charts/advanced.md
  tools/_setup_generation/step_refman.py
Labels: 🖧 Devops, 📄 Documentation

#388 feature/#443 added warning about reserved keywords
  docs/manuals/core/config/data-node-config.md
  docs/manuals/core/config/pipeline-config.md
  docs/manuals/core/config/scenario-config.md
Labels: Core, ⚙️Configuration

#390 Documentation for set default config
  docs/manuals/core/config/code_example/data_node_cfg/data-node-config_default.py
  docs/manuals/core/config/data-node-config.md
Labels: Core, 📄 Documentation, ⚙️Configuration
