Repository Avaiga/taipy-doc, pull requests merged in 2023-06, with the labels that each got.

#462 Document the status page
  docs/manuals/gui/configuration.md
  docs/manuals/gui/pages.md
Labels: 🖰 GUI, 📄 Documentation

#464 Complement and clarify the page scope section
  docs/manuals/gui/binding.md
Labels: 🖰 GUI, 📄 Documentation

#478 Add an example of a part embedding an external Web page
  docs/manuals/gui/viselements/part-url-d.png
  docs/manuals/gui/viselements/part-url-l.png
  docs/manuals/gui/viselements/part.md_template
Labels: 📈 Improvement, 🖰 GUI, 📄 Documentation, 🟧 Priority: High

#481 Release Notes for Taipy GUI 2.3
  INSTALLATION.md
  docs/index.md
  docs/manuals/gui/binding.md
  docs/manuals/gui/callbacks.md
  docs/manuals/gui/configuration.md
  docs/manuals/gui/corelements/data_node_selector.md_template
  docs/manuals/gui/corelements/scenario.md_template
  docs/manuals/gui/corelements/scenario_dag.md_template
  docs/manuals/gui/extension/index.md
  docs/manuals/gui/index.md
  docs/manuals/gui/notebooks.md
  docs/manuals/gui/pages.md
  docs/manuals/gui/styling/index.md
  docs/manuals/gui/viselements/charts/radar.md
  docs/manuals/gui/viselements/part.md_template
  docs/manuals/run-deploy/deploy/heroku/git.md
  docs/manuals/run-deploy/deploy/linux/redhat.md
  docs/manuals/run-deploy/deploy/linux/ubuntu.md
  docs/manuals/run-deploy/run/external_web_server.md
  docs/manuals/run-deploy/run/index.md
  docs/manuals/run-deploy/run/protect_files.md
  docs/relnotes.md
  mkdocs.yml_template
  tools/fetch_source_files.py
Labels: 🟥 Priority: Critical, 📈 Improvement, 🖰 GUI, 📄 Documentation

#483 Fix typo in Azure link
  docs/manuals/run-deploy/deploy/azure.md
Labels: 📄 Documentation, 💥Malfunction, 🟩 Priority: Low

#486 Explain the rebuild property in chart and table
  docs/manuals/gui/viselements/chart-rebuild-1-d.png
  docs/manuals/gui/viselements/chart-rebuild-1-l.png
  docs/manuals/gui/viselements/chart-rebuild-2-d.png
  docs/manuals/gui/viselements/chart-rebuild-2-l.png
  docs/manuals/gui/viselements/chart-rebuild-3-d.png
  docs/manuals/gui/viselements/chart-rebuild-3-l.png
  docs/manuals/gui/viselements/chart.md_template
  docs/manuals/gui/viselements/index.md
  docs/manuals/gui/viselements/table-rebuild-1-d.png
  docs/manuals/gui/viselements/table-rebuild-1-l.png
  docs/manuals/gui/viselements/table-rebuild-2-d.png
  docs/manuals/gui/viselements/table-rebuild-2-l.png
  docs/manuals/gui/viselements/table-rebuild-3-d.png
  docs/manuals/gui/viselements/table-rebuild-3-l.png
  docs/manuals/gui/viselements/table.md_template
Labels: 🖰 GUI, 📄 Documentation, 🟧 Priority: High, ✨New feature

#489 Core Elements documentation
  docs/manuals/gui/corelements/data_node_selector-d.png
  docs/manuals/gui/corelements/data_node_selector-dh.png
  docs/manuals/gui/corelements/data_node_selector-init-d.png
  docs/manuals/gui/corelements/data_node_selector-init-l.png
  docs/manuals/gui/corelements/data_node_selector-l.png
  docs/manuals/gui/corelements/data_node_selector-lh.png
  docs/manuals/gui/corelements/data_node_selector.md_template
  docs/manuals/gui/corelements/index.md_template
  docs/manuals/gui/corelements/scenario-d.png
  docs/manuals/gui/corelements/scenario-dh.png
  docs/manuals/gui/corelements/scenario-edit-label-d.png
  docs/manuals/gui/corelements/scenario-edit-label-l.png
  docs/manuals/gui/corelements/scenario-edit-props-d.png
  docs/manuals/gui/corelements/scenario-edit-props-l.png
  docs/manuals/gui/corelements/scenario-init-d.png
  docs/manuals/gui/corelements/scenario-init-l.png
  docs/manuals/gui/corelements/scenario-l.png
  docs/manuals/gui/corelements/scenario-lh.png
  docs/manuals/gui/corelements/scenario.md_template
  docs/manuals/gui/corelements/scenario_dag-d.png
  docs/manuals/gui/corelements/scenario_dag-dh.png
  docs/manuals/gui/corelements/scenario_dag-init-d.png
  docs/manuals/gui/corelements/scenario_dag-init-l.png
  docs/manuals/gui/corelements/scenario_dag-l.png
  docs/manuals/gui/corelements/scenario_dag-lh.png
  docs/manuals/gui/corelements/scenario_selector-create-d.png
  docs/manuals/gui/corelements/scenario_selector-create-l.png
  docs/manuals/gui/corelements/scenario_selector-d.png
  docs/manuals/gui/corelements/scenario_selector-dh.png
  docs/manuals/gui/corelements/scenario_selector-edition-d.png
  docs/manuals/gui/corelements/scenario_selector-edition-l.png
  docs/manuals/gui/corelements/scenario_selector-empty-d.png
  docs/manuals/gui/corelements/scenario_selector-empty-l.png
  docs/manuals/gui/corelements/scenario_selector-filled-d.png
  docs/manuals/gui/corelements/scenario_selector-filled-l.png
  docs/manuals/gui/corelements/scenario_selector-l.png
  docs/manuals/gui/corelements/scenario_selector-lh.png
  docs/manuals/gui/corelements/scenario_selector.md_template
  docs/manuals/gui/pages.md
  docs/manuals/studio/index.md
  docs/relnotes.md
Labels: 🟥 Priority: Critical, 🖰 GUI, 📄 Documentation, ✨New feature

#498 fetch_source_files: Get more error reporting
  tools/fetch_source_files.py
Labels: 🖧 Devops, 📄 Documentation
