Repository Avaiga/taipy-doc, pull requests merged in 2023-01, with the labels that each got.

#314 bug/#391 added doc for using standalone mode in notebook environment
  Pipfile
  docs/manuals/core/config/job-config.md
  docs/manuals/core/entities/scheduling-and-job-execution.md
Labels: Core, 💥Malfunction

#273 Doc/ Add version number property to entities
  docs/manuals/core/entities/data-node-mgt.md
  docs/manuals/core/entities/pipeline-mgt.md
  docs/manuals/core/entities/scenario-cycle-mgt.md
  docs/manuals/core/entities/task-mgt.md
  docs/manuals/rest/index.md
Labels: Core

#320 Enforce the Core service for a core application
  docs/manuals/core/config/index.md
  docs/manuals/core/entities/scenario-cycle-mgt.md
  docs/manuals/core/entities/scheduling-and-job-execution.md
  docs/manuals/running_services/index.md
  docs/relnotes.md
Labels: Core, ✨New feature

#308 Add Histograms in charts doc
  docs/manuals/gui/pages.md
  docs/manuals/gui/viselements/charts/bar.md
  docs/manuals/gui/viselements/charts/bar5.png
  docs/manuals/gui/viselements/charts/bar6.png
  docs/manuals/gui/viselements/charts/histogram-binning-function-d.png
  docs/manuals/gui/viselements/charts/histogram-binning-function-l.png
  docs/manuals/gui/viselements/charts/histogram-cumulative-d.png
  docs/manuals/gui/viselements/charts/histogram-cumulative-l.png
  docs/manuals/gui/viselements/charts/histogram-horizontal-d.png
  docs/manuals/gui/viselements/charts/histogram-horizontal-l.png
  docs/manuals/gui/viselements/charts/histogram-nbins-d.png
  docs/manuals/gui/viselements/charts/histogram-nbins-l.png
  docs/manuals/gui/viselements/charts/histogram-normalize-d.png
  docs/manuals/gui/viselements/charts/histogram-normalize-l.png
  docs/manuals/gui/viselements/charts/histogram-overlay-d.png
  docs/manuals/gui/viselements/charts/histogram-overlay-l.png
  docs/manuals/gui/viselements/charts/histogram-simple-d.png
  docs/manuals/gui/viselements/charts/histogram-simple-l.png
  docs/manuals/gui/viselements/charts/histogram-stacked-d.png
  docs/manuals/gui/viselements/charts/histogram-stacked-l.png
  docs/manuals/gui/viselements/charts/histogram.md
  docs/manuals/gui/viselements/charts/home-histogram-d.png
  docs/manuals/gui/viselements/charts/home-histogram-l.png
  docs/manuals/gui/viselements/charts/line.md
  docs/manuals/gui/viselements/charts/scatter.md
Labels: 📈 Improvement, 🖰 GUI, 📄 Documentation

#293 Create a new doc section for filled area plots
  docs/manuals/gui/viselements/charts/filled-area-normalized-d.png
  docs/manuals/gui/viselements/charts/filled-area-normalized-l.png
  docs/manuals/gui/viselements/charts/filled-area-overlay-d.png
  docs/manuals/gui/viselements/charts/filled-area-overlay-l.png
  docs/manuals/gui/viselements/charts/filled-area-simple-d.png
  docs/manuals/gui/viselements/charts/filled-area-simple-l.png
  docs/manuals/gui/viselements/charts/filled-area-stacked-d.png
  docs/manuals/gui/viselements/charts/filled-area-stacked-l.png
  docs/manuals/gui/viselements/charts/filled-area.md
  docs/manuals/gui/viselements/charts/home-filled-area-d.png
  docs/manuals/gui/viselements/charts/home-filled-area-l.png
Labels: 📈 Improvement, 🖰 GUI, 📄 Documentation

#294 Add Polar chart (#284, #259)
  docs/manuals/gui/viselements/charts/home-polar-d.png
  docs/manuals/gui/viselements/charts/home-polar-l.png
  docs/manuals/gui/viselements/charts/polar-angular-axis-d.png
  docs/manuals/gui/viselements/charts/polar-angular-axis-l.png
  docs/manuals/gui/viselements/charts/polar-area-d.png
  docs/manuals/gui/viselements/charts/polar-area-l.png
  docs/manuals/gui/viselements/charts/polar-multiple-d.png
  docs/manuals/gui/viselements/charts/polar-multiple-l.png
  docs/manuals/gui/viselements/charts/polar-sector-d.png
  docs/manuals/gui/viselements/charts/polar-sector-l.png
  docs/manuals/gui/viselements/charts/polar-simple-d.png
  docs/manuals/gui/viselements/charts/polar-simple-l.png
  docs/manuals/gui/viselements/charts/polar-tick-texts-d.png
  docs/manuals/gui/viselements/charts/polar-tick-texts-l.png
  docs/manuals/gui/viselements/charts/polar.md
Labels: 📄 Documentation

#334 Integrate local html template for charts home page.
  docs/manuals/gui/viselements/charts/home.html_fragment
  tools/_setup_generation/step_viselements.py
Labels: 🖧 Devops, 🖰 GUI, 📄 Documentation

#311 Add radar charts (#305)
  docs/manuals/gui/viselements/charts/home-radar-d.png
  docs/manuals/gui/viselements/charts/home-radar-l.png
  docs/manuals/gui/viselements/charts/radar-multiple-d.png
  docs/manuals/gui/viselements/charts/radar-multiple-l.png
  docs/manuals/gui/viselements/charts/radar-simple-d.png
  docs/manuals/gui/viselements/charts/radar-simple-l.png
  docs/manuals/gui/viselements/charts/radar.md
Labels: 🖰 GUI, 📄 Documentation, 🟧 Priority: High, ✨New feature

#337 Create Pie Charts section (#336)
  docs/manuals/gui/viselements/charts/home-pie-d.png
  docs/manuals/gui/viselements/charts/home-pie-l.png
  docs/manuals/gui/viselements/charts/others1.png
  docs/manuals/gui/viselements/charts/pie-multiple-d.png
  docs/manuals/gui/viselements/charts/pie-multiple-l.png
  docs/manuals/gui/viselements/charts/pie-simple-d.png
  docs/manuals/gui/viselements/charts/pie-simple-l.png
  docs/manuals/gui/viselements/charts/pie-styling-d.png
  docs/manuals/gui/viselements/charts/pie-styling-l.png
  docs/manuals/gui/viselements/charts/pie.md
  docs/manuals/gui/viselements/charts/polar.md
Labels: 🖰 GUI, 📄 Documentation, 🟧 Priority: High, ✨New feature

#342 Create the Error Bars section (#341).
  docs/manuals/gui/viselements/charts/error-bar.md
  docs/manuals/gui/viselements/charts/error-bars-asymmetric-d.png
  docs/manuals/gui/viselements/charts/error-bars-asymmetric-l.png
  docs/manuals/gui/viselements/charts/error-bars-simple-d.png
  docs/manuals/gui/viselements/charts/error-bars-simple-l.png
  docs/manuals/gui/viselements/charts/error-bars.md
  docs/manuals/gui/viselements/charts/home-error-bar-d.png
  docs/manuals/gui/viselements/charts/home-error-bar-l.png
  docs/manuals/gui/viselements/charts/home-error-bars-d.png
  docs/manuals/gui/viselements/charts/home-error-bars-l.png
  docs/manuals/gui/viselements/charts/home.html_fragment
Labels: 🖰 GUI, 📄 Documentation, 🟧 Priority: High, ✨New feature

#297 Add a Candlestick charts section (#285)
  docs/manuals/gui/viselements/charts/candlestick-simple-d.png
  docs/manuals/gui/viselements/charts/candlestick-simple-l.png
  docs/manuals/gui/viselements/charts/candlestick-styling-d.png
  docs/manuals/gui/viselements/charts/candlestick-styling-l.png
  docs/manuals/gui/viselements/charts/candlestick-timeseries-d.png
  docs/manuals/gui/viselements/charts/candlestick-timeseries-l.png
  docs/manuals/gui/viselements/charts/candlestick.md
  docs/manuals/gui/viselements/charts/home-candlestick-d.png
  docs/manuals/gui/viselements/charts/home-candlestick-l.png
Labels: 📈 Improvement, 🖰 GUI, 📄 Documentation

#315 Add a section for continuous error charts (#303)
  docs/manuals/gui/viselements/charts/continuous-error-multiple-d.png
  docs/manuals/gui/viselements/charts/continuous-error-multiple-l.png
  docs/manuals/gui/viselements/charts/continuous-error-simple-d.png
  docs/manuals/gui/viselements/charts/continuous-error-simple-l.png
  docs/manuals/gui/viselements/charts/continuous-error.md
  docs/manuals/gui/viselements/charts/home-continuous-error-d.png
  docs/manuals/gui/viselements/charts/home-continuous-error-l.png
Labels: 🖰 GUI, 📄 Documentation, ✨New feature

#298 Doc/#276 ParquetDataNode documentation
  docs/manuals/core/config/data-node-config.md
  docs/manuals/core/entities/data-node-mgt.md
Labels: Core, ✨New feature

#322 Doc/#321 Data Node Management/Configuration page updates
  docs/manuals/core/config/data-node-config.md
  docs/manuals/core/entities/data-node-mgt.md
Labels: Core, 📈 Improvement, 📄 Documentation

#348 add examples for generic data node
  docs/manuals/core/config/data-node-config.md
Labels: Core, 📈 Improvement

#350 New Basic and Advanced content (#345)
  docs/manuals/gui/viselements/charts/advanced-annotations-d.png
  docs/manuals/gui/viselements/charts/advanced-annotations-l.png
  docs/manuals/gui/viselements/charts/advanced-selection-d.png
  docs/manuals/gui/viselements/charts/advanced-selection-l.png
  docs/manuals/gui/viselements/charts/advanced-shapes-d.png
  docs/manuals/gui/viselements/charts/advanced-shapes-l.png
  docs/manuals/gui/viselements/charts/advanced-unbalanced-datasets-d.png
  docs/manuals/gui/viselements/charts/advanced-unbalanced-datasets-l.png
  docs/manuals/gui/viselements/charts/advanced.md
  docs/manuals/gui/viselements/charts/basics-multiple-d.png
  docs/manuals/gui/viselements/charts/basics-multiple-l.png
  docs/manuals/gui/viselements/charts/basics-simple-d.png
  docs/manuals/gui/viselements/charts/basics-simple-l.png
  docs/manuals/gui/viselements/charts/basics-timeline-d.png
  docs/manuals/gui/viselements/charts/basics-timeline-l.png
  docs/manuals/gui/viselements/charts/basics-title-d.png
  docs/manuals/gui/viselements/charts/basics-title-l.png
  docs/manuals/gui/viselements/charts/basics-two-y-axis-1-d.png
  docs/manuals/gui/viselements/charts/basics-two-y-axis-1-l.png
  docs/manuals/gui/viselements/charts/basics-two-y-axis-2-d.png
  docs/manuals/gui/viselements/charts/basics-two-y-axis-2-l.png
  docs/manuals/gui/viselements/charts/basics-xrange-d.png
  docs/manuals/gui/viselements/charts/basics-xrange-l.png
  docs/manuals/gui/viselements/charts/basics.md
  docs/manuals/gui/viselements/charts/basics1.png
  docs/manuals/gui/viselements/charts/basics2.png
  docs/manuals/gui/viselements/charts/basics3.png
  docs/manuals/gui/viselements/charts/basics4.png
  docs/manuals/gui/viselements/charts/basics5-1.png
  docs/manuals/gui/viselements/charts/basics5-2.png
  docs/manuals/gui/viselements/charts/basics6.png
  docs/manuals/gui/viselements/charts/candlestick.md
  docs/manuals/gui/viselements/charts/home.html_fragment
  docs/manuals/gui/viselements/charts/others-maps1.png
  docs/manuals/gui/viselements/charts/radar.md
  docs/manuals/gui/viselements/charts/scatter4.png
Labels: 📈 Improvement, 🖰 GUI, 📄 Documentation

#351 Create a new section in the User Manual for Taipy Studio
  docs/manuals/studio/config.md
  docs/manuals/studio/gui.md
  docs/manuals/studio/images/installation.gif
  docs/manuals/studio/index.md
  mkdocs.yml_template
Labels: 🟥 Priority: Critical, 📄 Documentation, ✨New feature, 👩‍💻Studio

#346 Feat/#340 - Taipy Core version control documentation
  docs/manuals/core/index.md
  docs/manuals/core/versioning/code_example/main.py
  docs/manuals/core/versioning/code_example/main_with_changes.py
  docs/manuals/core/versioning/development_mode.md
  docs/manuals/core/versioning/experiment_mode.md
  docs/manuals/core/versioning/index.md
  docs/manuals/core/versioning/production_mode.md
  docs/manuals/core/versioning/version-mgt.md
  docs/manuals/legacy-version-migration.md
  docs/relnotes.md
  mkdocs.yml_template
Labels: Core, ✨New feature

#353 Updated Gantt chart doc (#245)
  docs/manuals/gui/viselements/charts/funnel.md
  docs/manuals/gui/viselements/charts/gantt-simple-d.png
  docs/manuals/gui/viselements/charts/gantt-simple-l.png
  docs/manuals/gui/viselements/charts/gantt.md
  docs/manuals/gui/viselements/charts/ganttlike1.png
  docs/manuals/gui/viselements/charts/home-gantt-d.png
  docs/manuals/gui/viselements/charts/home-gantt-l.png
Labels: 📈 Improvement, 🖰 GUI, 📄 Documentation

#355 Simplify Gantt chart doc (#245)
  docs/manuals/gui/viselements/charts/gantt.md
Labels: 📈 Improvement, 🖰 GUI, 📄 Documentation

#358 Documentation for Taipy Studio GUI (#318)
  docs/manuals/studio/gui.md
  docs/manuals/studio/images/autocomplete_element.gif
  docs/manuals/studio/images/autocomplete_function.gif
  docs/manuals/studio/images/autocomplete_variable.gif
  docs/manuals/studio/images/diagnostics_fnf.png
  docs/manuals/studio/images/diagnostics_fnf_quickfix.gif
  docs/manuals/studio/images/diagnostics_mcs.png
  docs/manuals/studio/images/diagnostics_mct.png
  docs/manuals/studio/images/diagnostics_mcti.png
  docs/manuals/studio/images/diagnostics_mot.png
  docs/manuals/studio/images/diagnostics_moti.png
  docs/manuals/studio/images/diagnostics_pe02.png
  docs/manuals/studio/images/diagnostics_pe03.png
  docs/manuals/studio/images/diagnostics_ucti.png
  docs/manuals/studio/images/diagnostics_uoti.png
  docs/manuals/studio/images/generation_viselement.gif
  docs/manuals/studio/images/snippet_control.gif
  docs/manuals/studio/index.md
  docs/relnotes.md
  tools/_setup_generation/step_viselements.py
Labels: 🖰 GUI, 📄 Documentation, 🟧 Priority: High, ✨New feature, 👩‍💻Studio

#357 Update Release Notes for Taipy GUI 2.1.0 (#356)
  docs/manuals/gui/binding.md
  docs/manuals/gui/configuration.md
  docs/relnotes.md
Labels: 📈 Improvement, 🖰 GUI, 📄 Documentation

#354 Add a Migration section
  docs/manuals/legacy-version-migration.md
  docs/migration.md
  docs/relnotes.md
  mkdocs.yml_template
Labels: Core, 📄 Documentation

#343 Feature(home page): Add "charts" to quick access
  docs/images/icons/bar-chart-w.svg
  docs/images/icons/bar-chart.svg
  docs/images/icons/visual-element-w.svg
  docs/images/icons/visual-element.svg
  docs/index.md
  docs/manuals/about.md
  tools/assets/images/taipy-logo.png
  tools/assets/stylesheets/avaiga.css
Labels: 📄 Documentation
