Repository Avaiga/taipy-doc, pull requests merged in 2023-07, with the labels that each got.

#488 feat(avaiga.css): Taipy Doc global redesign
  Pipfile
  docs/manuals/run-deploy/deploy/databricks/images/global-architecture.svg
  docs/manuals/run-deploy/deploy/databricks/images/technical-architecture.svg
  mkdocs.yml_template
  tools/.icons/taipy-logo.svg
  tools/assets/images/taipy-logo-icon.svg
  tools/assets/stylesheets/avaiga.css
  tools/partials/header.html
  tools/partials/source.html
  tools/partials/tabs.html
Labels: 📄 Documentation

#500 fix(avaiga.css): adjust sidebar padding and long word break
  tools/assets/stylesheets/avaiga.css
Labels: 💥Malfunction

#509 Taipy Studio GUI preview feature doc
  INSTALLATION.md
  docs/manuals/studio/gui.md
  docs/manuals/studio/images/preview_chartdata.png
  docs/manuals/studio/images/preview_data.png
  docs/manuals/studio/images/preview_image.png
  docs/manuals/studio/images/preview_lov.png
  docs/manuals/studio/images/preview_start.gif
  docs/manuals/studio/images/preview_tabledata.png
  docs/manuals/studio/images/preview_tabledatafile.png
Labels: 📈 Improvement, 📄 Documentation, 🟧 Priority: High, 👩‍💻Studio

#510 Updated images for Studio Config
  docs/manuals/studio/images/config_graphview_1.gif
  docs/manuals/studio/images/config_graphview_2.gif
  docs/manuals/studio/images/config_graphview_3.gif
  docs/manuals/studio/images/config_graphview_4.gif
  docs/manuals/studio/images/config_overview.png
Labels: 📄 Documentation, 💥Malfunction, 🟨 Priority: Medium, 👩‍💻Studio

#513 Waterfall charts doc
  docs/manuals/gui/viselements/charts/home-waterfall-d.png
  docs/manuals/gui/viselements/charts/home-waterfall-l.png
  docs/manuals/gui/viselements/charts/home.html_fragment
  docs/manuals/gui/viselements/charts/waterfall-period_levels-d.png
  docs/manuals/gui/viselements/charts/waterfall-period_levels-l.png
  docs/manuals/gui/viselements/charts/waterfall-simple-d.png
  docs/manuals/gui/viselements/charts/waterfall-simple-l.png
  docs/manuals/gui/viselements/charts/waterfall-styling-d.png
  docs/manuals/gui/viselements/charts/waterfall-styling-l.png
  docs/manuals/gui/viselements/charts/waterfall.md
Labels: 🖰 GUI, 📄 Documentation

#518 Update GUI-related items in release notes for 2.4
  docs/relnotes.md
  mkdocs.yml_template
  tools/_setup_generation/elmnts_generator.py
Labels: 🟥 Priority: Critical, 🖰 GUI, 📄 Documentation
