Repository Avaiga/taipy-doc, pull requests merged in 2023-03, with the labels that each got.

#324 feat: finished dynamic element doc
  docs/manuals/gui/extension/dynamic_element/index.md
  docs/manuals/gui/extension/dynamic_element/scalar_props.md
  docs/manuals/gui/extension/index.md
  docs/manuals/gui/extension/static_element.md
  docs/manuals/gui/extension_dynamic_element.md
  docs/manuals/gui/extension_static_element.md
  docs/manuals/gui/images/dynamic_element.gif
  docs/manuals/gui/images/extension-dyn-scalar1-d.png
  docs/manuals/gui/images/extension-dyn-scalar1-l.png
  docs/manuals/gui/images/extension-dyn-scalar2-d.png
  docs/manuals/gui/images/extension-dyn-scalar2-l.png
  docs/manuals/gui/images/extension-static1-d.png
  docs/manuals/gui/images/extension-static1-l.png
  docs/manuals/gui/images/extension-static2-d.png
  docs/manuals/gui/images/extension-static2-l.png
  docs/manuals/gui/styling.md
  docs/manuals/gui/viselements/index.md
  docs/relnotes.md
  mkdocs.yml_template
  tools/_setup_generation/step_getting_started.py
  tools/_setup_generation/step_rest_refman.py
  tools/_setup_generation/step_viselements.py
  tools/postprocess.py
Labels: 🖰 GUI, 📄 Documentation

#400 Standardize capitalization (#399)
  docs/getting_started/index.md
  docs/index.md
  docs/manuals/about.md
  docs/manuals/core/basic_examples/index.md
  docs/manuals/reference_rest/index.md
  mkdocs.yml_template
Labels: 📄 Documentation, 🟨 Priority: Medium

#401 Document element tag identifiers (#359)
  docs/manuals/gui/viselements/index.md
Labels: 🖰 GUI, 📄 Documentation, 🟨 Priority: Medium

#402 Doc/Core#506 - Rename scheduler to orchestrator
  docs/index.md
  docs/manuals/about.md
  docs/manuals/core/concepts/execution-flow.md
  docs/manuals/core/config/global-config.md
  docs/manuals/core/config/index.md
  docs/manuals/core/config/job-config.md
  docs/manuals/core/entities/data-node-mgt.md
  docs/manuals/core/entities/orchestrating-and-job-execution.md
  docs/manuals/core/index.md
  docs/manuals/reference_rest/index.md
  mkdocs.yml_template
Labels: Core
