Repository Avaiga/taipy-doc, pull requests merged in 2023-05, with the labels that each got.

#450 Fix nginx.conf
  docs/manuals/deployment/docker/nginx.conf
Labels: 🖧 Devops, 💥Malfunction

#454 Add documention for the change_delay configuration setting (#442)
  docs/manuals/gui/configuration.md
Labels: 🖰 GUI, 📄 Documentation

#455 Documentation for the Taipy GUI configuration settings (#439)
  docs/manuals/gui/configuration.md
  docs/manuals/gui/notebooks.md
  docs/manuals/gui/notifications.md
  docs/manuals/gui/pages.md
  docs/manuals/gui/styling/index.md
  docs/manuals/gui/styling/stylekit.md
  docs/manuals/run-deploy/deploy/linux/ubuntu.md
  tools/fetch_source_files.py
Labels: 📈 Improvement, 🖰 GUI, 📄 Documentation, ⚙️Configuration, 🟧 Priority: High

#459 Add images for the status control
  docs/manuals/gui/viselements/status-basic-d.png
  docs/manuals/gui/viselements/status-basic-l.png
  docs/manuals/gui/viselements/status-multiple1-d.png
  docs/manuals/gui/viselements/status-multiple1-l.png
  docs/manuals/gui/viselements/status-multiple2-d.png
  docs/manuals/gui/viselements/status-multiple2-l.png
  docs/manuals/gui/viselements/status-multiple3-d.png
  docs/manuals/gui/viselements/status-multiple3-l.png
  docs/manuals/gui/viselements/status-multiple4-d.png
  docs/manuals/gui/viselements/status-multiple4-l.png
  tools/_setup_generation/step_gui_ext_refman.py
Labels: 🖰 GUI, 📄 Documentation
