Repository Avaiga/taipy-doc, pull requests merged in 2024-11, with the labels that each got.

#1194 Adds Inventory Forecasting demo
  docs/gallery/articles/inventory_forecasting/images/scenario.png
  docs/gallery/articles/inventory_forecasting/images/thumbnail.png
  docs/gallery/articles/inventory_forecasting/images/visualization.png
  docs/gallery/articles/inventory_forecasting/index.md
  mkdocs.yml_template
Labels: 📄 Documentation, 🟨 Priority: Medium

#1196 Backport of "Update Release Notes for Taipy 4.0.1" (#1191)
  docs/release-notes/index.md
  docs/release-notes/migration.md
Labels: 🟥 Priority: Critical, 📈 Improvement, 📄 Documentation

#1210 Data node selector doc update for 4.0
  docs/refmans/gui/viselements/corelements/data_node_selector-filter1-d.png
  docs/refmans/gui/viselements/corelements/data_node_selector-filter1-l.png
  docs/refmans/gui/viselements/corelements/data_node_selector-filter2-d.png
  docs/refmans/gui/viselements/corelements/data_node_selector-filter2-l.png
  docs/refmans/gui/viselements/corelements/data_node_selector-filter3-d.png
  docs/refmans/gui/viselements/corelements/data_node_selector-filter3-l.png
  docs/refmans/gui/viselements/corelements/data_node_selector-filter4-d.png
  docs/refmans/gui/viselements/corelements/data_node_selector-filter4-l.png
  docs/refmans/gui/viselements/corelements/data_node_selector-init-d.png
  docs/refmans/gui/viselements/corelements/data_node_selector-init-l.png
  docs/refmans/gui/viselements/corelements/data_node_selector-pin1-d.png
  docs/refmans/gui/viselements/corelements/data_node_selector-pin1-l.png
  docs/refmans/gui/viselements/corelements/data_node_selector-pin2-d.png
  docs/refmans/gui/viselements/corelements/data_node_selector-pin2-l.png
  docs/refmans/gui/viselements/corelements/data_node_selector-pin3-d.png
  docs/refmans/gui/viselements/corelements/data_node_selector-pin3-l.png
  docs/refmans/gui/viselements/corelements/data_node_selector-search1-d.png
  docs/refmans/gui/viselements/corelements/data_node_selector-search1-l.png
  docs/refmans/gui/viselements/corelements/data_node_selector-search2-d.png
  docs/refmans/gui/viselements/corelements/data_node_selector-search2-l.png
  docs/refmans/gui/viselements/corelements/data_node_selector-sort1-d.png
  docs/refmans/gui/viselements/corelements/data_node_selector-sort1-l.png
  docs/refmans/gui/viselements/corelements/data_node_selector-sort2-d.png
  docs/refmans/gui/viselements/corelements/data_node_selector-sort2-l.png
  docs/refmans/gui/viselements/corelements/data_node_selector-sort3-d.png
  docs/refmans/gui/viselements/corelements/data_node_selector-sort3-l.png
  docs/refmans/gui/viselements/corelements/data_node_selector-sort4-d.png
  docs/refmans/gui/viselements/corelements/data_node_selector-sort4-l.png
  docs/refmans/gui/viselements/corelements/data_node_selector-toolbar-d.png
  docs/refmans/gui/viselements/corelements/data_node_selector-toolbar-l.png
  docs/refmans/gui/viselements/corelements/data_node_selector.md_template
  docs/refmans/gui/viselements/mui-icons.svg
  docs/release-notes/index.md
  taipy_theme/assets/stylesheets/avaiga.css
Labels: 📈 Improvement, 🖰 GUI, 📄 Documentation, 🟧 Priority: High

#1211 Backport - Data node selector doc update for 4.0 (#1210)
  docs/refmans/gui/viselements/corelements/data_node_selector-filter1-d.png
  docs/refmans/gui/viselements/corelements/data_node_selector-filter1-l.png
  docs/refmans/gui/viselements/corelements/data_node_selector-filter2-d.png
  docs/refmans/gui/viselements/corelements/data_node_selector-filter2-l.png
  docs/refmans/gui/viselements/corelements/data_node_selector-filter3-d.png
  docs/refmans/gui/viselements/corelements/data_node_selector-filter3-l.png
  docs/refmans/gui/viselements/corelements/data_node_selector-filter4-d.png
  docs/refmans/gui/viselements/corelements/data_node_selector-filter4-l.png
  docs/refmans/gui/viselements/corelements/data_node_selector-init-d.png
  docs/refmans/gui/viselements/corelements/data_node_selector-init-l.png
  docs/refmans/gui/viselements/corelements/data_node_selector-pin1-d.png
  docs/refmans/gui/viselements/corelements/data_node_selector-pin1-l.png
  docs/refmans/gui/viselements/corelements/data_node_selector-pin2-d.png
  docs/refmans/gui/viselements/corelements/data_node_selector-pin2-l.png
  docs/refmans/gui/viselements/corelements/data_node_selector-pin3-d.png
  docs/refmans/gui/viselements/corelements/data_node_selector-pin3-l.png
  docs/refmans/gui/viselements/corelements/data_node_selector-search1-d.png
  docs/refmans/gui/viselements/corelements/data_node_selector-search1-l.png
  docs/refmans/gui/viselements/corelements/data_node_selector-search2-d.png
  docs/refmans/gui/viselements/corelements/data_node_selector-search2-l.png
  docs/refmans/gui/viselements/corelements/data_node_selector-sort1-d.png
  docs/refmans/gui/viselements/corelements/data_node_selector-sort1-l.png
  docs/refmans/gui/viselements/corelements/data_node_selector-sort2-d.png
  docs/refmans/gui/viselements/corelements/data_node_selector-sort2-l.png
  docs/refmans/gui/viselements/corelements/data_node_selector-sort3-d.png
  docs/refmans/gui/viselements/corelements/data_node_selector-sort3-l.png
  docs/refmans/gui/viselements/corelements/data_node_selector-sort4-d.png
  docs/refmans/gui/viselements/corelements/data_node_selector-sort4-l.png
  docs/refmans/gui/viselements/corelements/data_node_selector-toolbar-d.png
  docs/refmans/gui/viselements/corelements/data_node_selector-toolbar-l.png
  docs/refmans/gui/viselements/corelements/data_node_selector.md_template
  docs/refmans/gui/viselements/mui-icons.svg
  docs/release-notes/index.md
  taipy_theme/assets/stylesheets/avaiga.css
Labels: 📈 Improvement, 🖰 GUI, 📄 Documentation, 🟧 Priority: High

#1217 More reliable retrieval of MUI icons
  tools/_setup_generation/setup.py
  tools/_setup_generation/step_mui_icons.py
  tools/_setup_generation/step_viselements.py
Labels: 🟥 Priority: Critical, 🖧 Devops, 🖰 GUI, 💥Malfunction

#1220 Update Scenario Selector documentation with 4.0 features
  .gitignore
  docs/refmans/gui/viselements/corelements/data_node.md_template
  docs/refmans/gui/viselements/corelements/data_node_selector.md_template
  docs/refmans/gui/viselements/corelements/scenario_selector-create-d.png
  docs/refmans/gui/viselements/corelements/scenario_selector-create-l.png
  docs/refmans/gui/viselements/corelements/scenario_selector-filled-d.png
  docs/refmans/gui/viselements/corelements/scenario_selector-filled-l.png
  docs/refmans/gui/viselements/corelements/scenario_selector-filter1-d.png
  docs/refmans/gui/viselements/corelements/scenario_selector-filter1-l.png
  docs/refmans/gui/viselements/corelements/scenario_selector-filter2-d.png
  docs/refmans/gui/viselements/corelements/scenario_selector-filter2-l.png
  docs/refmans/gui/viselements/corelements/scenario_selector-filter3-d.png
  docs/refmans/gui/viselements/corelements/scenario_selector-filter3-l.png
  docs/refmans/gui/viselements/corelements/scenario_selector-filter4-d.png
  docs/refmans/gui/viselements/corelements/scenario_selector-filter4-l.png
  docs/refmans/gui/viselements/corelements/scenario_selector-filter5-d.png
  docs/refmans/gui/viselements/corelements/scenario_selector-filter5-l.png
  docs/refmans/gui/viselements/corelements/scenario_selector-init1-d.png
  docs/refmans/gui/viselements/corelements/scenario_selector-init1-l.png
  docs/refmans/gui/viselements/corelements/scenario_selector-search1-d.png
  docs/refmans/gui/viselements/corelements/scenario_selector-search1-l.png
  docs/refmans/gui/viselements/corelements/scenario_selector-search2-d.png
  docs/refmans/gui/viselements/corelements/scenario_selector-search2-l.png
  docs/refmans/gui/viselements/corelements/scenario_selector-sort1-d.png
  docs/refmans/gui/viselements/corelements/scenario_selector-sort1-l.png
  docs/refmans/gui/viselements/corelements/scenario_selector-sort2-d.png
  docs/refmans/gui/viselements/corelements/scenario_selector-sort2-l.png
  docs/refmans/gui/viselements/corelements/scenario_selector-sort3-d.png
  docs/refmans/gui/viselements/corelements/scenario_selector-sort3-l.png
  docs/refmans/gui/viselements/corelements/scenario_selector-sort4-d.png
  docs/refmans/gui/viselements/corelements/scenario_selector-sort4-l.png
  docs/refmans/gui/viselements/corelements/scenario_selector.md_template
  docs/refmans/gui/viselements/generic/metric.md_template
  docs/refmans/gui/viselements/generic/table.md_template
  docs/refmans/gui/viselements/mui-icons.svg
  docs/release-notes/index.md
  docs/userman/gui/extension/dynamic_element/tabular_data_props.md
  docs/userman/gui/extension/extension_data.md
  tools/_setup_generation/setup.py
  tools/_setup_generation/step_mui_icons.py
  tools/_setup_generation/step_viselements.py
  tools/fetch_source_files.py
  tools/postprocess.py
Labels: 📈 Improvement, 🖰 GUI, 📄 Documentation, 🟧 Priority: High

#1222 Fix missing link in Designer documentaton
  tools/_setup_generation/step_contributors.py
  tools/_setup_generation/step_designer.py
  tools/_setup_generation/step_file_injection.py
  tools/fetch_source_files.py
Labels: 🖧 Devops, 💥Malfunction, 🟨 Priority: Medium, 🟧 Priority: High, 🏗 Designer

#1223 Backport 4.0 - Fix missing link in Designer documentation
  tools/_setup_generation/step_contributors.py
  tools/_setup_generation/step_designer.py
  tools/fetch_source_files.py
Labels: 🖧 Devops, 💥Malfunction, 🟧 Priority: High, 🏗 Designer
